### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# pyenv
.python-version

# vscode
.vscode

# envirornment
.env

# vim
.*swp

# databases
sqlite.db
test.db
foo.db

# notebooks
*-checkpoint.ipynb

# coverage
.coverage
htmlcov

# pycharm
.idea
